@import url('https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css');
@import url('https://fonts.googleapis.com/earlyaccess/cwtexming.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', 'PingFang TC', 'Microsoft JhengHei', 'Microsoft YaHei', sans-serif;
}

body {
  margin: 0;
}

// Colors
$color-black: #242424;
$color-gray: #999;
$color-light-gray: #eee;
$color-red: #d24648;

@media (min-width: 1440px) {
  .container {
    max-width: 1380px;
  }
}

.container {
  padding-left: 25px;
  padding-right: 25px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  margin-left: -25px;
  margin-right: -25px;
}

.sm-show {
  display: none;

  @media (max-width: 575.99px) {
    display: inline;
  }
}

// Custom CSS

.header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  color: $color-gray;
  width: 100%;
  height: 60px;
  font-size: 24px;
  font-weight: 400;
  font-family: Songti TC, Serif;
  letter-spacing: 0.3px;
  line-height: 60px;
  position: fixed;
  top: 0;
  padding: 0 50px;
  z-index: 999;

  span {
    font-weight: 700;
    font-family: Serif;
  }

  @media (max-width: 575.99px) {
    padding: 0 25px;
  }
}

main {
  margin-top: 120px;

  .font-wrapper {
    border-top: 1px solid $color-black;
    padding: 15px 0 50px;
  }

  .font-name {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.3px;
    color: $color-black;
  }

  .font-type {
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.3px;
    color: $color-gray;
  }

  .font-preview-btn {
    color: $color-red;
    font-size: 15px;
  }

  .font-style {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
    margin-top: 15px;
  }

  .font-preview {
    margin-top: 30px;

    p {
      font-size: 20px;
      line-height: 1.4;

      span {
        display: block;
        font-size: 16px;
        font-family: inherit;
        font-weight: inherit;
        margin-bottom: 3px;
      }
    }
  }

  .embed-title {
    margin: 25px 0 10px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.3px;
    color: $color-gray;
  }

  .embed-area {
    padding: 15px;
    font-size: 14px;
    line-height: 1.2;
    background-color: $color-light-gray;
    overflow-x: scroll;
  }
}

footer {
  text-align: center;
  font-size: 14px;
  color: $color-gray;
  margin-bottom: 30px;

  a,
  button {
    color: inherit;
    font-size: inherit;
    border: none;

    &:hover {
      color: $color-red;
    }
  }

  button {
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .copyright {
    text-align: center;
    width: 100%;
    line-height: 1.5;
  }
}

.ver-wrapper {
  .ver-title {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.3px;
    color: $color-black;
    margin-bottom: 10px;
  }

  .ver-content {
    font-size: 15px;
    letter-spacing: 0.3px;
    color: $color-gray;
    margin-bottom: 20px;

    ul {
      padding: 0;
    }

    li {
      list-style: none;
      line-height: 1.4;

      &::before {
        content: '-';
        margin-right: 5px;
        opacity: 0.5;
      }
    }
  }
}
